<div class="head">Metro Movin'</div>

<div class="content">
	<%= react_component("HelloWorldApp", props: @hello_world_props, prerender: false) %>
	<input type="text" class="where_are_you_going" name="">
</div>