<style type="text/css" media="screen">
	body {
	  background-image:url('assets/bg1.jpg');
	}	
</style>


<div class="head">Metro Movin'</div>
<div class="wrapper">

	<div class="logo">
		<img src="assets/logo.png">
	</div>
	
	<div class="content">
		<div class="container">
			<div class='lets_get_movin' >
		          Let's get you movin'
		    </div>
		    <hr>
		    <div class="loading" id="loading_spinner">
		    	<%= image_tag'loading.gif'%>
		    </div>
		    <div id="map">
		    	
		    </div>
			<%= react_component("HelloWorldApp", props: @hello_world_props, prerender: false) %>
		</div>
	</div>
</div>


<div class="footer">
	powered by Miami Dade Transit <img src="assets/transit_logo.png">
</div>

<div class="modal fade" id="busModal" tabindex="-1" role="dialog" aria-labelledby="BusID">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="BusID" style="color:black;"></h4>
      </div>
      <div class="modal-body" style="color:black;">
      	Bus Route: <span id="BusRoute"></span>
      	<br>
      	Direction: <span id="BusDirection"></span>
      </div>
    </div>
  </div>
</div>