<style type="text/css" media="screen">
	body {
	  background-image:url('assets/bg1.jpg');
	}	
</style>


<div class="head">Metro Movin'</div>

<div class="logo">
	<img src="assets/logo.png">
</div>

<div class="content">
	<%= react_component("HelloWorldApp", props: @hello_world_props, prerender: false) %>
</div>


<div class="footer">
	powered by Miami Dade Transit <img src="assets/transit_logo.png">
</div>